<div class="container container-fluid">
  <div class="alert alert-info text-center my-3">
    <h3>Page de consultation d'un Memoire</h3>
  </div>
  <div class="ui-button row">
    <div class="col-md-4">
      <a href="/memoire-list" class="btn btn-primary"><i class="fa fa-long-arrow-left"></i>&nbsp;Retour vers la liste des memoires</a>
    </div>
    <div class="col-md-8 justify-content-center d-flex">
      <a class="btn btn-secondary mx-2" href="/memoire-download/{{memoire.titre}}">Telecharger le memoire&nbsp;&nbsp; <i class="fa fa-download"></i> </a>
      <a href="/memoire-update/{{memoire.id}}" class="btn btn-warning mx-2"><i class="fa fa-pencil"></i>&nbsp;Modifier Memoire</a>
      <button (click)="delete(memoire.id)"  class="btn btn-danger mx-2"><i class="fa fa-trash"></i>&nbsp;Supprimer Memoire</button>
    </div>
  </div>
  <div class="card my-3">
    <div class="card-header">
      <div class="card-title text-center badge-info">
        <span>{{memoire.titre}}</span>
      </div>
    </div>
    <div class="card-body">
      <div class="card-text">
        <table class="table table-bordered table-responsive-lg">
          <tbody>
            <tr>
              <td>Theme</td>
              <td>{{memoire.titre}}</td>
            </tr>
            <tr>
              <td>Filiere</td>
              <td>{{memoire.titreFiliere}}</td>
            </tr>
            <tr>
              <td>Option</td>
              <td>{{memoire.options}}</td>
            </tr>
            <tr>
              <td>Nom de l'etudiant</td>
              <td>{{memoire.nomEtudiant}}</td>
            </tr>
            <tr>
              <td>Nom de l'encadreur</td>
              <td>{{memoire.nomEncadreur}}</td>
            </tr>
            <tr>
              <td>Session</td>
              <td>{{memoire.session}}</td>
            </tr>
            <tr>
              <td>Resume</td>
              <td>{{memoire.resume}}</td>
            </tr>
            <tr>
              <td>Abstract</td>
              <td>{{memoire.abstractMemoire}}</td>
            </tr>
            <tr>
              <td>Date d'ajout</td>
              <td><i class="fa fa-times fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{memoire.dateInsertion}}</td>
            </tr>
            <tr>
              <td>Mots cle</td>
              <td >
                <ul *ngFor="let item of memoire.motCles">
                  <li><span>{{item}}</span></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Nombre de vue</td>
              <td><i class="fa fa-eye fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{memoire.nombreVue}}</td>
            </tr>
            <tr>
              <td>Date derniere vue</td>
              <td><i class="fa fa-times-circle fa-2x">&nbsp;&nbsp;&nbsp;&nbsp;</i>{{memoire.dateDerniereVue}}</td>
            </tr>
            <tr>
              <td>Nombre de telechargement</td>
              <td><i class="fa fa-download fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{memoire.nombreTelechargement}}</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
